body {
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}
div#page {
    text-align: center;
}
div#content {
    text-align: left;
    display: inline-block;
}
div.ns-defn {
    margin-left: 2em;
}
div.xml-schema div.line:first-letter {
    margin-left: -2em;
}
div.xml-schema div.line {
    margin-left: 2em;
}
div.xml-schema div.block div.block {
    margin-left: 1em;
}
div.json-schema div.line:first-letter {
    margin-left: -2em;
}
div.json-schema div.line {
    margin-left: 2em;
}
div.json-schema div.block div.block {
    margin-left: 1em;
}
h1 { font-size: 120%; }
h2 { font-size: 110%; }
h3 { font-size: 100%; }
table {
    border-collapse: collapse;
    border-style: solid;
}
td {
    border-style: solid;
    border-width: 1px;
}
